[Unit]
Description=GT PGP Milter Service
Documentation=https://github.com/GeonoTRON2000/gt-pgp-milter
After=network.target

[Service]
Type=exec
User=pgp-milter
Group=pgp-milter
StandardOutput=append:/var/log/pgp-milter.log
StandardError=append:/var/log/pgp-milter.err
ExecStart=/usr/bin/python3 /opt/pgp-milter/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
